body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#img{
  height: 70px;
  width: 70px;
  border: 4px solid rgb(3, 80, 104);
}

#item-row{
  margin: auto;
  display: flex;
 
}


.container{
  border: 2px solid black;
  padding: 10px;
  min-width: 700px;
  min-height: fit-content;
  max-height: 150px;
  width:fit-content;
}
.row{
  max-height: 150px !important;
  margin: 5px;
}
.button-image{
  height: 25px !important;
  width: 25px !important;
}